<div class="container">
  <!-- Title -->
  <h2>Category Search</h2>
  <p>Information on Category {{CategoryInput}}</p>
  <br>

  <!-- Output TO BE UPDATED -->
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Business Name</th>
        <th scope="col">Reviewer Name</th>
        <th scope="col">Stars</th>
        <th scope="col">Votes</th>
        <th scope="col">Review Text</th>
      </tr>
    </thead>
    <tbody>
      {{#if result}}
      {{#each result}}
      <tr>
        <td>{{this.category}}</td>
        <td>{{this.business_name}}</td>
        <td>{{this.name}}</td>
        <td>{{this.stars}}</td>
        <td>{{this.votes_useful}}</td>
        <td>{{this.review_text}}</td>
      </tr>
      {{/each}}
      {{else}}
      <tr>
        <td>No results found. Please check if the input entered is valid.</td>
      </tr>
      {{/if}}
    </tbody>
  </table>

  <!-- Buttons -->
  <div class="btnGroup">
    <button class="btn btn-outline-info leftbtn" id="again-btn">Enter New Input</button>
    <button class="btn btn-outline-secondary rightbtn" id="home-btn">Back to Home</button>
  </div>
</div>